<div ng-app="dropController as drop">
    <div class="container">
        <div class="articles show">
            <ul dnd-list="elements">
                <li ng-repeat="item in drop.elements"
                    dnd-draggable="item"
                    dnd-dragend = 'drop.previewChecker()'
                    dnd-moved="drop.elements.splice($index, 1)">
                    <div class="title">{{item.title}}</div>
                    <div class="logo">
                        <img src="app/img/{{item.title}}.png">
                    </div>
                </li>
            </ul>
        </div>
        <div class="controls">
            <md-button href="#preview" class="md-raised" ng-click=drop.saveItemsState() ng-disabled=drop.readyToPreview >Preview</md-button>
        </div>
        <div class="blocks">
            <div class="blocks__content" ng-repeat="box in drop.boxes">
                <ul dnd-list="drop.boxes[$index]" dnd-disable-if="drop.boxes[$index].length >= 1">
                    <!-- -->
                    <li ng-repeat="item in drop.boxes[$index]"
                        dnd-moved="drop.boxes[$parent.$index].splice($index, 1)"
                        dnd-draggable="item"
                        dnd-dragend = 'drop.previewChecker()'>
                        <div class="title">{{item.title}}</div>
                        <div class="blocks__content-wrp clearfix">
                            <div class="logo">
                                <img src="app/img/{{item.title}}.png">
                            </div>
                            <span class="text">{{item.text}}</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>